.card1 {
  margin-left: 20%;
  margin-right: 15%;
  padding: 20px;
}

h1 {
  color: #ffaa17;
}
.emailpwd {
  margin-left: -140px;
  color: white
}
.emailpwd1 {
  margin-left: -165px;
  color: white
}
#btn1 {
  border-radius: 10px;
  background-color: #ffaa17;
  width: 100px;
}
#btn2 {
  border-radius: 10px;
  border-color: #ffaa17;
  background-color:;
  width: 100px;
}
#btngroup {
  width: 200px;
  /* margin-right: 500px; */
}

#bcolor{
    background-color: #000000A2;
    
}